* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main {
  font-family: 'Lora', serif; }

h2 {
  font-family: 'Architects Daughter', cursive;
  font-size: 30pt;
  color: black;
  text-align: center;
  margin-bottom: 2rem;
  padding-top: 1rem; }

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14pt;
  color: white;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1.5rem; }

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14pt;
  color: white;
  padding-bottom: 1rem; }

h1 {
  font-family: 'Architects Daughter', cursive;
  font-size: 20pt;
  color: black;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  text-align: center;
  }

li{
  text-align: left;
  line-height: 1.5;
}

.tittle{
  background-color: #EFC376;
  text-align: center;
}

.container {
  background-color: white;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem; }

.socialmedia {
  margin-right: 2rem; }

.img-desktop {
  height: 100%;
  width: 100%;
}

.description {
  font-family: 'Lora', serif;
  font-size: 10pt;
  color: black;
  text-align: left;
  line-height: 1.5;
  list-style: none; }

.container-about-me {
  background-color: #EA845D;
  margin-top: 0.5rem;
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 3rem;
  text-align: center; }

.presentation {
  font-family:'Lora', serif;
  font-size: 12pt;
  color: white;
  line-height: 1.5;
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem; }

.container-knowledge {
  background-image: url(../img/fondo-section.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  margin-top: 0.5rem;
  padding: 2rem;
  text-align: center;}

.containter-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  }

.container-design-uxui {
  background-color: #5F9595;
  border-radius: 20px;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem; }

.fa-lightbulb {
  background-color: white;
  color: #5F9595;
  border-radius: 50%;
  padding: 20px;
  font-size: 20pt;
  text-align: center; }

  .fa-comments{
    background-color: white;
    color: #A9D5CB;
    border-radius: 50%;
    padding: 20px;
    font-size: 20pt;
    text-align: center; 
  }

.container-design-web {
  background-color: #EFC376;
  border-radius: 20px;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 1.5rem; }

.fa-desktop {
  background-color: white;
  color: #EFC376;
  border-radius: 50%;
  padding: 20px;
  font-size: 20pt; }

.container-graphic-design {
  background-color: #F7B4A4;
  border-radius: 20px;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 1.5rem; }

.fa-wand-magic-sparkles {
  background-color: white;
  color: #F7B4A4;
  border-radius: 50%;
  padding: 20px;
  font-size: 20pt; }

.container-tools {
  margin-top: 0.5rem;
  /*     padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem; */ }

.containter-tools-icon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;}

.container-comunicacion{
  text-align: center;
  font-size: 20pt;
  background-color: #A9D5CB;
  border-radius: 20px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  margin-bottom: 1rem; 
}

.container-web {
  text-align: center;
  font-size: 20pt;
  background-color: #EA845D;
  border-radius: 20px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  margin-bottom: 1rem; }

.container-uxui {
  text-align: center;
  font-size: 20pt;
  background-color: #EFC376;
  border-radius: 20px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  margin-bottom: 1rem; }

.container-design {
  text-align: center;
  background-color: #A9D5CB;
  border-radius: 20px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  margin-bottom: 1rem; }

  .container-servicios{
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
    border-left-style: solid;
    border-color: white;
  }
  .servicios{
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;

}


/*.button-cv {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  padding: 0.8rem;
  border-radius: 20px;
  border: none;
  margin-top: 2rem;
  color: #EA845D;
  font-weight: 600; }

.button-cv:hover {
  background-color: #EFC376;
  color: black; } */

footer {
  background-color: #DDDDDD;
}
  .footer{
    display: flexbox; 
  }

h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 8pt;
  text-align: left;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 2rem; }

.footer-socialmedia {
  text-align: right;
  padding-bottom: 1rem;
  padding-right: 2rem; }

/*.list-group {
 list-style-type: none;
 display: flex;
 column-gap: 20px;
 row-gap: 20px;
 flex-wrap: wrap;
}*/

.section-servicios{
  display: flex;
  background: #EFC376;
}

.mision{
  background-color: #A9D5CB;
  margin-top: 0.5rem;
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 3rem;
  text-align: center;
}

.btn-wsp{
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  z-index: 100;
}
.btn-wsp:hover{
  text-decoration: none;
  color: #0df053;
  background: #fff;
}


@media (min-width: 320px) and (max-width: 620px) {
  .container-about-me {
    margin-top: 0.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center; }
  .img-mobile {
    height: 100%;
    width: 100%; }
  .presentation {
    font-family:'Lora', serif;
    font-size: 12pt;
    color: white;
    line-height: 1.5;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem; }
  .containter-container{
    display: block;
  }
  .container-servicios{
    background-color: #EFC376;
    margin-top: 0.5rem;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
    display: grid;
    text-align: center;
  }
  .list-group{
    list-style-type: none;
    margin-left: 0.5rem;
  }
  .containter-tools-icon{
    display: block;
  }

  .section-servicios{
    display: flow-root;
    background: #EFC376;
  }
   }

/*@media (min-width: 1200px) and (max-width: 2000px) {
  .img-desktop {
    width: auto; }
  .presentation {
    margin-left: 15rem;
    margin-right: 15rem; }
  .container-knowledge {
    display: flex;
    flex-wrap: wrap; }
  .container-habilities {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 5rem; }
  .containter-tools-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem; }
  .footer-name {
    font-size: 10pt;
    margin-left: 5rem;
    text-align: left;
    padding-bottom: 0%; }
  .footer-socialmedia {
    font-size: 14pt;
    text-align: right;
    margin-right: 5rem; } }

 /*   @media (min-width: 200px) and (max-width: 800px) {
      .img-mobile {
        width: auto; } }